:root {
  --bgColor: #ecf0f3;
  --buttonColor: #555;
}

#root {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skip-link {
  font-size: small;
  align-self: end;
  position: absolute;
  top: 10px;
  right: 10px;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bgColor);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

h1 {
  color: #353535;
  margin-block: 0px 8px;
  background: #ecf0f3;
}

.calculator {
  position: relative;
  width: 350px;
  max-width: 100%;
  background-color: var(--bgColor);
  border-radius: 16px;
  box-shadow: 12px 12px 20px #d1d8e3, -12px -12px 20px #fff;
  padding: 20px;
  box-sizing: border-box;
}

.display-expression {
  text-align: right;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  min-height: 2.4em;
  word-wrap: break-word;
  color: var(--buttonColor);
  padding: 0.2rem 0.5rem;
}

.display-result {
  text-align: right;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  min-height: 2.4em;
  background-color: var(--bgColor);
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
  box-shadow: inset 2px 2px 5px #d1d8e3, inset -2px -2px 5px #fff;
  color: #333;
  word-break: break-all;
  line-height: normal;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.calc-button {
  background-color: var(--bgColor);
  padding: 0.8rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 8px #d1d8e3, -5px -5px 8px #fff;
  color: var(--buttonColor);
}

.calc-button:hover {
  background-color: #d5f3da;
}

.calc-button:focus {
  background-color: var(--bgColor);
  background-color: #d5f3da;
  color: #0b0b0b;
  box-shadow: 3px 3px 6px #d1d8e3, -3px -3px 6px #fff;
  transform: translateY(-2px);
}

.calc-button:active {
  box-shadow: inset 2px 2px 5px #d1d8e3, inset -2px -2px 5px #fff;
  transform: translateY(0);
}

.calc-button:nth-child(16) {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column: 4;
}

.credits {
  display: block;
  color: #595959;
  margin: 0px;
  padding-top: 16px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.credits a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden
}

@media screen and (max-width: 600px) {
  .calculator {
    width: 100%;
    padding: 1rem;
  }

  .display-expression {
    font-size: 1.2rem
  }

  .display-result {
    font-size: 2rem;
  }

  .buttons-grid {
    gap: 0.65rem;
  }

  .calc-button {
    padding: 0.75rem;
    font-size: 1rem;
  }

  .credits {
    font-size: 0.6rem;
  }
}